$primary: #EA5857;

.container {
    margin-top: 64px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.cta-container {
    width: 100vw;

    .cta {
        width: 80vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .cta-subtitle {
            padding: 2rem 0;
        }

        .cta-btn-container {

            .cta-btn-order {
                background-color: #EA5857;
            }

            .cta-btn-guide {
                color: #EA5857;
                border-color: #EA5857;
            }
        }
    }


}

.selectors-container {
    .selector {
        margin-right: 1rem;
    }
}