

.cta-container {
    width: 100vw;

    .cta {
        width: 80vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .cta-subtitle {
            padding: 2rem 0;
        }
    
        .cta-btn-container {
    
            .cta-btn-order {
                background-color: #EA5857;
                margin-right: 4rem;
            }

            .cta-btn-guide {
                color: #EA5857;
                border-color: #EA5857;
            }
        }
    }


}

.selectors-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .selector {
        margin-right: 1rem;
    }
} 

.category-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;

    .category-section-container {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        text-align: center;
        color: #EA5857;

        .category-title {
            font-weight: 700;

            
        }
        .category-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .category-container {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                padding: 1rem;
    
                .category-icon-container {
                    margin-bottom: 1rem;
                    
                    img {
                        height: 72px;
                    }
                }
            }
        }

    }

}

.product-by-category-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;

    .product-by-category-container {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-content: center;

        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .category-title {
                font-weight: 500;
            }

            .view-more-btn {
                padding: 0rem 1rem;
                height: 80%;
                background-color: #EA5857;
            }
        }

        .product-list-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            

            .product-container {
                width: 23%;
                margin: 2rem 0;
                border-radius: 1rem;
                .product-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;



                    .add-to-cart-btn {
                        background-color: #EA5857;
                        color: white;
                    }
                }
            }
            
            .product-container:hover {
                transform: scale(1.05);
            }
        }
    }

}


