.background {
    background-image: url(../../../public/login/UserLogin.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .login-container {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        /* Position */
        position: absolute;
        padding: 100px 70px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        /* Background */
        background: #FFFFFF;

        /* Shadow */
        box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322), 0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129), 0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145), 0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871), 0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468), 0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);
        border-radius: 24px;
    }

}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .title {
        /* text/h2 */

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        /* identical to box height, or 96px */

        letter-spacing: 0.15px;

        /* primary/main */

        color: #EA5857;
    }

}