$textColor: #3A3A3A;
$primaryColor: #ea5857;

.navbar {
    padding: 16px;
}

.dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;


    .title {
        text-decoration: none;
        color: $textColor;
    }

    .navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .logo-container {
            margin-right: 1rem;
        }

    }

    .navbar-search {
        width: 50%;

        .search {
            margin-right: 1rem;
        }
    }

    .navbar-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        width: 70%;
    }

    .button {
        color: #fff;
    }

}