.product-by-category-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;

    .product-by-category-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 32px;

        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }

        .product-list-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 16px;


            .product-container {
                border-radius: 1rem;
                flex: 1 0 calc(20% - 16px);
                .product-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;



                    .add-to-cart-btn {
                        background-color: #EA5857;
                        color: white;

                        &:hover {
                            background-color: #a33d3c;
                        }
                    }
                }
            }

            .product-container:hover {
                transform: scale(1.05);
            }
        }
    }

}